/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-aphinity-pricing-wizard {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.pw-container {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
    border: 1px solid #1F2937;
    padding: 1rem;
}

.pw-errors {
    display: none;
    text-align: center;

    p {
        color: #ff0000;
    }
}

.pw-step {
    &:not(:first-of-type) {
        display: none;
    }

    &__inner {
        margin-bottom: 2rem;
        text-align: center;

        p {
            margin-bottom: 0.5rem;
        }
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;
    }
}

.pw-field {
    label {
        display: block;
        margin-bottom: 0.125rem;
    }

    input {
        margin: 0;
        padding: 0.5rem;
        font-size: 1rem;
    }

    &--radio {
        label {
            display: inline-block;
        }
    }
}

.pw-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.pw-button {
    padding: 0.25rem 0.75rem;
    background-color: #1F2937;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
}

.pw-columns {
    display: flex;
    gap: 1rem;
}

.pw-column {
    flex: 0 1 100%;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
    border: 1px solid #1F2937;
    padding: 1rem;

    &--highlight {
        background: #9ccfab;
        color: #fff;
    }

    &__title {
        font-size: 2rem;
        line-height: 1;
    }
}

.pw-spinner {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;

    &::after {
        content: '';
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border-radius: 50%;
        border-top: 4px solid rgba(255, 255, 255, 1.0);
        border-left: 4px solid rgba(255, 255, 255, 1.0);
        border-right: 4px solid rgba(255, 255, 255, 0.0);
        animation: spinner .6s linear infinite;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}